@model ChangeControlApp.Models.Impact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Impact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QmsProceduresProcesses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QmsProceduresProcesses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherDocumentation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherDocumentation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishedProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishedProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExistMaterialStockFinishProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExistMaterialStockFinishProd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdCustSpec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdCustSpec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductValidation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductValidation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessValidation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessValidation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestEquipMethodsCalib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestEquipMethodsCalib)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegulatoryReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegulatoryReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierAgreementsSpec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierAgreementsSpec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerReqSpec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerReqSpec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewExistEquipSoftware)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewExistEquipSoftware)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cleaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cleaning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maintenance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufWorkFlowAncillaryPkgEquip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufWorkFlowAncillaryPkgEquip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeLog.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
